body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.active {
    background-color: #f9f9f9;
}

/* .expired {
    background-color: #fdd;
    color: #900;
} */

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    th, td {
        font-size: 0.9em;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    table, th, td {
        display: block;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    td {
        border-top: 1px solid #ddd;
    }
}